* {
    outline: solid red 1px;
}

body {
    font-family: "Roboto", Sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

button {
    background-color: #3882f6;
    border-radius: 5px;
    border-style: none;
    font-size: 18px;
    color: #f9faf8;
    padding: 4px 30px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 0;
    padding: 0;
}

.footer,
.header,
.hero {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 80vh;
}

.header-container {
    width: 83%;
    max-width: 83%;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    max-height: 50px;
    width: 100%;
}

.header-bot {
    display: flex;
    flex-grow: 1;
}

.header-details {
    flex-wrap: wrap;
}

.header-bot .title,
.header-bot .content,
.header-bot .button {
    flex-basis: 50%;
}

.header-bot .img {
}

.header-top .logo {
    font-size: 24px;
    font-weight: 900;
}

.header-bot .title {
    font-size: 48px;
    font-weight: 900;
}

.header-top .logo,
.header-top .nav-links,
.header-bot .title {
    color: #f9faf8;
}

.header-bot .content {
    color: #e5e7eb;
}
