* {
    /* outline: solid red 1px; */
    font-size: 18px; /* set defualt font size for webpage */
}

body {
    font-family: "Roboto", Sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

button {
    border-radius: 5px;
    border-style: none;
    padding: 4px 30px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 0;
    padding: 0;
}

/* Background and text colors for webpage */

button {
    background-color: #3882f6;
}

img {
    border-color: #3882f6;
}

.footer,
.header,
.hero {
    background-color: #1f2937;
}

.header-container .logo,
.hero-container .title,
button {
    color: #f9faf8;
}

.header-container .nav-links,
.hero-container .content,
.hero-container .img {
    color: #e5e7eb;
}

.main-container .title,
.quote-container .text {
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
}

/* font weights, styles and sizes or text */

.header-container .logo {
    font-size: 24px;
    font-weight: 900;
}

.hero-container .title {
    font-size: 48px;
    font-weight: 900;
}

.main-container .title {
    font-size: 36px;
    font-weight: 900;
}

.quote-container .text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300italic;
}

.quote-container .author {
    font-weight: 900;
    font-size: 24px;
}

/* Flexbox layout for containers */

.header-container,
.hero-container,
.main-container,
.quote-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    max-width: 75%;
}

.header,
.hero,
.main,
.quote {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header container */

.header {
    height: 10vh;
}

.header-container {
    height: 50px;
    max-height: 50px;
}

/* hero container */
.hero {
    height: 60vh;
}

.hero-container {
    gap: 10em;
}

.hero-container .hero-details {
    width: 50%;
}

.hero-container .hero-details .title,
.hero-container .hero-details .content {
    padding-bottom: 20px;
}

.hero-container .img {
    min-width: 500px;
    min-height: 250px;
    background-color: grey;
    align-content: center;
    text-align: center;
}

/* main container */

.main-container {
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 0.5em 0;
}

.main-container .title {
    text-align: center;
    width: 100%;
    margin: 40px 0;
}

.main-container .card-container {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.main-container .cards {
    max-width: 175px;
    margin: 0 3em;
}

.main-container img {
    min-width: 175px;
    min-height: 175px;
    /* border-radius: 20px;
    border-style: solid 2px #3382f6; */
}

/* quote section */

.quote-container {
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    margin: 5em 4em;
    gap: 1em;
    justify-content: end;
    width: 55%;
}
